@charset "UTF-8";
/* Criado por Boa Morte */
table {
	background-color: rgb(16, 8, 2);
	border-color: rgb(16, 8, 2);
	border-spacing: 0px;
	box-shadow: 0px 0px 5px #000; 
	border-radius: 5px;
	margin-bottom: 20px;
}
table h3 {
	text-align: center;
	color: #B08800;
	font-size: 14pt;
}

table td, tr {
	background-color: rgba(56, 37, 1, 0.8);
	width: 450px;
}

table td#titulo-tab {
	background-color: rgb(16, 8, 2);
}

/*Formatação da secção de introdução ao Mundo - Feito por Boa Morte*/
article#Introducao-Mundo {
	float;
	width: 800px;
	margin: 0px auto 0px auto;
}

img#Mundi {
	box-shadow: 0px 0px 5px #000;
	border-radius: 10px;
}

h5 {
	color: #B08800;
	font-family: arial sans-serif;
	font-size: 10pt;
}

article#Introducao-Mundo h5.norm {
	background-color: #100802;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	margin: 0px 310px 0px 310px;
}

div#gambiarra h5 {
	background-color: #100802;
	padding: 5px;
	text-align: center;
	margin-left: 125px;
	margin-right: 525px;
	border-radius: 5px;
}

img#regwes {
	display: block;
	float: right;
	width: 50%;
	height: 50%;
	margin: 10px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 10px;
}

img#reges {
	display: block;
	width: 75%;
	height: 75%;
	margin: 0px auto 30px auto;
	box-shadow: 0px 0px 5px #000;
	border-radius: 10px;
}

.planof{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}

ul {
    list-style: none;
}

ul li#MundiBig {
    width: 950px;
    height: 600px;
    background: url("../_imagens/Westeros_and_Essos.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}