@charset "UTF-8";
/*Feito por Gustavo Gomes. Editado por Boa Morte */
/*Formatação de Praxe*/
article#trailers {
    float;
    width:  850px;
    margin-bottom: 10px;
}

article#audios {
    float: left;
    width:  550px;
    margin-bottom: 10px;
}
/*Estilizando o Texto descritivo do Audio. Feito por Gustavo*/
article#audios h4 {
    display: block;
    text-align: left;
}
/*Estilizando o Player. Feito por gustavo*/
audio#audio {
    float: left;
    background-color: #B08800;
}
/* Espaçamento estético para o último áudio */
audio#ult {
    margin-bottom: 20px;
}

/*Estilizando o artigo dos wallpaper. Feito por Gustavo*/
article#wallpapers { /* definindo o padrao dos artigos*/
    float: left;
    width: 850px;
    margin-bottom: 10px;
}
/*Tirando a borda da table. Feito por Gustavo*/
Table {
    border-collapse: collapse;
    border: hidden;
    margin-bottom: 20px;
}
/*Tirando a borda por células. Feito por Boa Morte*/
table tr, td {
    border: hidden;
}
ul#fotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow:1px 1px 1px #000;
    background-color: rgba(0,0,0,.3);
    line-height:340px;
    padding: 5px;
}


ul#fotos li:hover span{
    opacity: 1;
}
ul#fotos{
    width:850px;
    margin:0 auto;
    padding: 50px;
    overflow:hidden;
    list-style: none;
}
ul#fotos li {
    float:left;
    width:350px;
    height:200px;
    margin:10px;
    border:5px;
    background-color: transparent;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    -webkit-transition: all .7s ease-in;
}
ul#fotos li#foto01 {
    background: url("../_imagens/baratheonWall.jpg")no-repeat;
    background-position:center;
    background-size: 1920px 1080px;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}
ul#fotos li#foto01:hover{
    background-position: center;
    background-size: 350px 200px;
}
ul#fotos li#foto02{
    background: url("../_imagens/ArrynWall.jpg")no-repeat;
    background-position:center;
    background-size: 1920px 1080px;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}
ul#fotos li#foto02:hover{
    background-position:center;
    background-size: 350px 200px;
}
ul#fotos li#foto03{
    background: url("../_imagens/StarkWall.jpg")no-repeat;
    background-position:center;
    background-size: 1920px 1080px;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}
ul#fotos li#foto03:hover{
    background-position:center;
    background-size: 350px 200px;
}
ul#fotos li#foto04{
    background: url("../_imagens/LannisterWall.jpg")no-repeat;
    background-position:center;
    background-size: 1920px 1080px;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}
ul#fotos li#foto04:hover{
    background-position:center;
    background-size: 350px 200px;
}
ul#fotos li#foto05{
    background: url("../_imagens/TargaryenWall.jpg")no-repeat;
    background-position:center;
    background-size: 1920px 1080px;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}
ul#fotos li#foto05:hover{
    background-position:center;
    background-size: 350px 200px;
}
ul#fotos li#foto06{
    background: url("../_imagens/ValarMorghulisWall.jpg")no-repeat;
    background-position:center;
    background-size: 1920px 1080px;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
 }
ul#fotos li#foto06:hover{
    background-position:center;
    background-size: 350px 200px;
}
ul#fotos li#foto07{
    background: url("../_imagens/CorvoWall.jpg")no-repeat;
    background-position:center;
    background-size: 1920px 1080px;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}
ul#fotos li#foto07:hover{
    background-position:center;
    background-size: 350px 200px;
}
ul#fotos li#foto08{
    background: url("../_imagens/BannersWall.jpg")no-repeat;
    background-position:center;
    background-size: 1920px 1080px;
    background-color: white;
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
}
ul#fotos li#foto08:hover{
    background-position:center;
    background-size: 350px 200px;
}
.planof{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}
.planof02{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}
.planof03{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}
.planof04{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}
.planof05{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}
.planof06{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}
.planof07{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}
.planof08{
position: fixed;
top: 0px;
left: 0px;
visibility: hidden;
background-color: rgba(0, 0, 0, .8);
width: 100%;
height: 100%;
}
ul {
    list-style: none;
}
#WallBig01 {
    width: 950px;
    height: 600px;
    background: url("../_imagens/baratheonWall.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}
#WallBig02 {
    width: 950px;
    height: 600px;
    background: url("../_imagens/ArrynWall.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}
#WallBig03 {
    width: 950px;
    height: 600px;
    background: url("../_imagens/StarkWall.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}
#WallBig04 {
    width: 950px;
    height: 600px;
    background: url("../_imagens/LannisterWall.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}
#WallBig05 {
    width: 950px;
    height: 600px;
    background: url("../_imagens/TargaryenWall.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}
#WallBig06 {
    width: 950px;
    height: 600px;
    background: url("../_imagens/ValarMorghulisWall.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}
#WallBig07 {
    width: 950px;
    height: 600px;
    background: url("../_imagens/CorvoWall.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}
#WallBig08 {
    width: 950px;
    height: 600px;
    background: url("../_imagens/BannersWall.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    border: 5px solid #100802;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
}